/* Center align text */
.PNmed {
  text-align: center;
}

/* Set font size for text */
span.PNtext {
  font-size: 16px;
}

/* Set font size for links */
span.PNlinks {
  font-size: 16.5px;
}

/* Set font size for title */
#PNtitle {
  font-size: 20px;
}

/* Styling for buttons */
button.links-button,
button.dupBtn,
button.join-us {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  padding: 12px 15px;
  outline: 0;
  border: 0;
  border-radius: 50px;
  line-height: 20px;
  color: #fffdfc;
  background: #ff492d;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 320px;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
button.links-button:hover,
button.dupBtn:hover,
button.join-us:hover {
  background-color: #41b375;
}

/* Hide links button initially */
button.links-button {
  display: none;
}

/* Adjust the size of the button during countdown */
button.dupBtn.countdown {
  width: 64px;
  height: 44px;
  font-size: 14px;
  justify-content: center;
  transition: width 1s ease, height 1s ease;
}

.series-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.series-left,
.series-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for buttons in series-left and series-right */
.series-left > button.dupBtn,
.series-right > button.dupBtn {
  min-width: 147px;
  justify-content: center;
}

/* Styling for icons */
.icon {
  flex-shrink: 0;
  display: inline-flex;
}

/* Styling for download icon */
.icon::before {
  content: "";
  width: 18px;
  height: 18px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Styling for icon spacing */
.icon::after {
  content: "";
  padding: 0 4px;
}

/* Styling for download icon in Download section */
.icon.dl-icon::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><polyline points='8 17 12 21 16 17'/><line x1='12' y1='12' x2='12' y2='21'/><path d='M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29'/></svg>");
}

/* Styling for link icon in Download section */
.icon.link-icon::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><path d='M13.5 12C13.5 15.18 10.93 17.75 7.75 17.75C4.57 17.75 2 15.18 2 12C2 8.82 4.57 6.25 7.75 6.25'></path><path d='M10 12C10 8.69 12.69 6 16 6C19.31 6 22 8.69 22 12C22 15.31 19.31 18 16 18'></path></svg>");
}

/* Styling for stream icon in Watch Now */
.icon.st-icon::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><path d='M6 11.9999V9.32992C6 6.01992 8.35 4.65992 11.22 6.31992L13.53 7.65992L15.84 8.99992C18.71 10.6599 18.71 13.3699 15.84 15.0299L13.53 16.3699L11.22 17.7099C8.35 19.3399 6 17.9899 6 14.6699V11.9999Z' stroke-miterlimit='10'></path></svg>");
}

/* Styling for Join us icon */
.icon.go-link::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><path d='M7.39999 6.32003L15.89 3.49003C19.7 2.22003 21.77 4.30003 20.51 8.11003L17.68 16.6C15.78 22.31 12.66 22.31 10.76 16.6L9.91999 14.08L7.39999 13.24C1.68999 11.34 1.68999 8.23003 7.39999 6.32003Z'/><path d='M10.11 13.6501L13.69 10.0601'/></svg>");
}