<!--CSS For Buttons-->
<style>
.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin-inline: 20px;
  background-color: #464141;
  color: #fff;
  padding: 8px 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 125px;
  margin-top: 25px;
}

.button-container button:hover {
  background-color: #6d6b6b;
}
</style>
